@import 'src/assets/scss/variables';

form {
  background-color: $cardbg;
  padding: 20px;
  border: 1px solid $borderColor;
  border-radius: $border-radius;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: $cardshadow;

  div {
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 5px;
      color: $textPrimary;
      font-weight: 600;
    }

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid $borderColor;
      border-radius: $border-radius;
      &:focus {
        border-color: $primary;
        outline: none;
      }
    }
  }

  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: $primary;
    color: $white;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    &:disabled {
      background-color: lighten($primary, 20%);
      cursor: not-allowed;
    }
    &:hover:not(:disabled) {
      background-color: darken($primary, 10%);
    }
  }
}
