// Import variables first
@import 'src/assets/scss/variables'; // Adjust the path if necessary

// Styles for the form container
form {
  background-color: $cardbg;
  padding: 20px;
  border: 1px solid $borderColor;
  border-radius: $border-radius;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: $cardshadow;

  // Styles for inner div elements
  div {
    margin-bottom: 20px;

    // Label styles
    label {
      display: block;
      margin-bottom: 5px;
      color: $textPrimary;
      font-weight: 600;
    }

    // Input styles
    input {
      width: 100%;
      padding: 10px;
      border: 1px solid $borderColor;
      border-radius: $border-radius;
      &:focus {
        border-color: $primary;
        outline: none;
      }
    }
  }

  // Styles for the submit button
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: $primary;
    color: $white;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;

    // Disabled state styles
    &:disabled {
      background-color: lighten($primary, 20%);
      cursor: not-allowed;
    }

    // Hover styles
    &:hover:not(:disabled) {
      background-color: darken($primary, 10%);
    }
  }
}
